* {
  margin: 0;
  padding: 0;
}

body {
  background-color: palevioletred;
}

.line {
  position: absolute;
  background-color: white;
  height: 10px;
}

.horizontal-line {
  width: 100%;
  height: 3px;
  top: 50%;
}

.vertical-line {
  height: 100%;
  width: 3px;
  left: 50%;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  /* 이미지 좌표가 중심으로 보이지않아서, 
  이미지의 크기의 50%씩수평, 수직 축으로 이동하여 조절 */
  transform: translate(-50%, -50%);
}

.coordinates_value {
  color: white;
  position: absolute;
  top: 52%;
  left: 52%;
  font-size: 28px;
  font-weight: 600;
}
