* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
  background-color: beige;
}

.container {
  width: 400px;
  height: 600px;

  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 3px;
  height: 13%;
  width: 100%;
  background-color: pink;
  font-size: 25px;
  font-weight: 600;
  background: rgb(66, 167, 255);
  background: linear-gradient(
    137deg,
    rgba(66, 167, 255, 0.9396751740139211) 22%,
    rgba(255, 96, 202, 0.665893271461717) 62%
  );
  border-radius: 10px 10px 0 0;
}
.item-list {
  background-color: whitesmoke;
  width: 100%;
  height: 63%;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  background-color: white;
  height: 10%;
  font-size: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(184, 180, 180);
  list-style-type: none;
}

.item > span {
  margin: 10px;
}

footer {
  display: flex;
  border-bottom-right-radius: 3px;
  height: 17%;
  width: 100%;
  background-color: pink;
  justify-content: center;
  align-items: center;
  background: rgb(66, 167, 255);
  background: linear-gradient(
    137deg,
    rgba(66, 167, 255, 0.9396751740139211) 22%,
    rgba(255, 96, 202, 0.665893271461717) 62%
  );
  border-radius: 0 0 10px 10px;
}

input {
  width: 100%;
  border-style: none;
  height: 7%;
}

.fa-plus-square {
  color: white;
  font-size: 50px;
}

input {
  width: 100%;
  border-style: none;
  height: 7%;
}
